Flask
Flask-SQLAlchemy
SQLAlchemy==1.4.45
python-dotenv
psycopg2-binary
Flask
Flask-CORS
python-dotenv
SpeechRecognition
pydub
transformers
torch
jiwer
sentence-transformers
nltk
flask-migrate
numpy
gunicorn==22.0.0
Werkzeug==2.0.3